<!DOCTYPE html>
<html>
<head>
    <style>
        .navbutton {
            margin-bottom: 5px;
            background: #3d85c6;
            border-radius: 5px;
            color: #fff;
            display: inline-block;
            padding: 8px 20px;
            font: normal 700 24px/1 'Calibri', sans-serif;
            text-align: center;
            text-shadow: none;
        }

        .clearfix {
            overflow: auto;
        }

        ul {
            list-style: none;
        }

        .navbuttons {
            float: left;
            width: 300px;
        }

        section {
            margin-left: 206px;
        }
    </style>
</head>
<body>
    <h2>Ice Cream Portal</h2>
    <div class="clearfix">
        <nav class="navbuttons">
            <ul>
                <li>
                    <div class="navbutton">Marketing</div>
                </li>
                <li>
                    <div class="navbutton">Orders</div>
                </li>
            </ul>
        </nav>
        <section>
            <img src="~/Images/Ice-Cream-3Flavors.jpg" />
        </section>
    </div>
</body>
</html>